controller_manager:
  ros__parameters:
    update_rate: 50 #maximum/ rate of the controller manager

    #ros2-controllers github: https://github.com/ros-controls/ros2_controllers/tree/jazzy

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    diff_drive_controller:
      type: diff_drive_controller/DiffDriveController
      
diff_drive_controller:
  ros__parameters:
      topic: "/cmd_vel"  # This line is important!
      left_wheel_names: ['left_wheel_joint']
      right_wheel_names: ['right_wheel_joint']

      wheel_separation: 0.45  # Distance between wheels
      wheel_radius: 0.1      # Radius of the wheels

      odom_frame_id: 'odom'
      base_frame_id: 'floor'

      pose_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
      twist_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]

      enable_odom_tf: true
      publish_rate: 50.0 # Rate to publish data from diff drive controller

      linear.x.max_velocity: 1.0
      linear.x.min_velocity: -1.0
      angular.z.max_velocity: 1.0
      angular.z.min_velocity: -1.0